.Container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

input {
  padding: 15px;
  border: 2px black solid;
  border-radius: 15px;
}

.second-Container{
  margin-top: 20px;
  border: 1px black solid;
  width:  200px;
  border-radius: 10px;
}

.City{
  font-size: 25px;
  margin: 10px;
}

.Temperature{
  font-size: 50px;
  font-weight: bold;
  margin: 10px;
}

.Sky{
  text-align: right;
  margin: 10px;
  font-weight: 600;
  margin-top: 20px;
}
